*~
*.o
*.lo
*.la
*.a
*.c
.exrc
.*.swp
.deps
.libs
stamp-*
*.stamp
*.service
*.gmo
po/rygel.pot
.version
aclocal.m4
autom4te.cache
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/mkinstalldirs
config.h
config.h.in
config.log
config.status
configure
data/org.gnome.Rygel.service
data/rygel-preferences.desktop
data/rygel.conf
data/rygel.desktop
data/xml/AVTransport2.xml
data/xml/ConnectionManager.xml
data/xml/ContentDirectory.xml
data/xml/MediaRenderer2.xml
data/xml/MediaServer2.xml
data/xml/RenderingControl2.xml
data/xml/X_MS_MediaReceiverRegistrar1.xml
libtool
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile.in
Makefile
po/Makefile.in.in
po/POTFILES
rygel-1.0.pc
src/rygel/rygel
src/rygel/rygel-1.0.vapi
src/rygel/rygel.h
src/ui/rygel-preferences
!src/rygel/cstuff.c
tests/rygel-http-byte-seek-test
tests/rygel-http-get-test
tests/rygel-http-item-uri-test
tests/rygel-http-time-seek-test
tests/rygel-live-response-test
tests/rygel-seekable-response-test
tests/rygel-http-post-test
doc/rygel.1
doc/rygel.conf.5

