*~
*.o
*.lo
*.la
*.a
*.plugin
.exrc
*.orig
*.pc
.*.swp
.swp
.deps
.libs
stamp-*
*.stamp
*.service
*.gmo
*.bak
*.BACKUP.*
*.LOCAL.*
*.BASE.*
*.REMOTE.*
core
*.log
.intltool-merge-cache
po/rygel.pot
.version
aclocal.m4
autom4te.cache
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/mkinstalldirs
config.h
config.h.in
config.log
config.status
configure
data/org.gnome.Rygel.service
data/rygel-preferences.desktop
data/rygel-preferences.desktop.in
data/rygel.conf
data/rygel.desktop
data/rygel.desktop.in
data/xml/AVTransport2.xml
data/xml/ConnectionManager.xml
data/xml/ContentDirectory.xml
data/xml/ContentDirectory-NoTrack.xml
data/xml/MediaRenderer2.xml
data/xml/MediaRenderer2.xml.in
data/xml/MediaServer3.xml
data/xml/MediaServer3.xml.in
data/xml/RenderingControl2.xml
data/xml/X_MS_MediaReceiverRegistrar1.xml
libtool
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile.in
Makefile
po/Makefile.in.in
po/POTFILES
rygel-1.0.pc
src/rygel/rygel
src/rygel/rygel-2.0.vapi
src/rygel/rygel-core.h
src/librygel-core/rygel-core.h
src/librygel-core/rygel-core-2.0.vapi
src/librygel-server/rygel-server.h
src/librygel-server/rygel-server-2.0.vapi
src/librygel-renderer/rygel-renderer.h
src/librygel-renderer/rygel-renderer-2.0.vapi
src/librygel-renderer-gst/rygel-renderer-gst.h
src/librygel-renderer-gst/rygel-renderer-gst-2.0.vapi
src/media-engines/gstreamer/rygel-media-engine-gst.h
src/media-engines/gstreamer/rygel-media-engine-gst.vapi
!src/plugins/media-export/rygel-media-export-collate.c
src/ui/rygel-preferences
tests/rygel-http-byte-seek-test
tests/rygel-http-get-test
tests/rygel-http-item-uri-test
tests/rygel-http-time-seek-test
tests/rygel-http-gst-response-test
tests/rygel-seekable-response-test
tests/rygel-http-post-test
tests/rygel-album-art-spec-test
tests/rygel-http-seekable-response-test
tests/rygel-http-response-test
tests/rygel-object-creator-test
tests/rygel-regression
tests/rygel-searchable-container-test
tests/rygel-playbin-renderer-test
tests/rygel-user-config-test
tests/rygel-environment-test
tests/rygel-media-engine-test
tests/plugins/media-export/regression
doc/rygel.1
doc/rygel.conf.5
doc/reference/*/gtkdoc/*.txt
doc/reference/*/gtkdoc/html.stamp
doc/reference/*/gtkdoc/sgml.stamp
doc/reference/*/gtkdoc/ccomments
doc/reference/*/gtkdoc/xml
doc/reference/*/gtkdoc/cscan
doc/reference/*/gtkdoc/*.args
doc/reference/*/gtkdoc/*.interfaces
doc/reference/*/gtkdoc/*.hierarchy
doc/reference/*/gtkdoc/*.signals
doc/reference/*/gtkdoc/*.types
doc/reference/*/gtkdoc/*.prerequisites
doc/reference/*/gtkdoc/html/
doc/reference/*/valadoc/
examples/fullscreen-renderer
examples/standalone-renderer-gst
examples/standalone-server
src/plugins/media-export/rygel-media-export-internal.h
src/plugins/media-export/rygel-media-export.h
src/plugins/media-export/rygel-media-export.vapi
tests/**/*.trs
